@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .navlink {
    @apply text-primary-black hover:text-primary-white text-lg lg:text-base font-extrabold tracking-widest uppercase transition-colors duration-300 ease-in-out cursor-pointer;
  }
  .section-container {
    @apply max-w-[1440px] mx-auto px-8 lg:px-12;
  }
  .hamburger-btn {
    @apply block lg:hidden z-[100] px-[6.5px] py-[12.5px] outline-none border-none;
  }
  .hamburger-btn span {
    @apply block h-[3px] w-[35px] my-[7px] bg-primary-black;
    transition: all 0.6s ease-in-out;
  }

  .hamburger-btn.active span:nth-child(1) {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }

  .hamburger-btn.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-btn.active span:nth-child(3) {
    transform: rotateZ(405deg) translate(-8px, -6px);
  }
  .cta-card-wraper {
    @apply pb-5 px-4 pt-6 xl:pt-8;
  }
  .cta-card-head {
    @apply font-bold text-[1.1rem] xl:text-[1.125rem];
  }
  .cta-card-icon {
    @apply mt-4 xl:my-6;
  }
  .cta-card-text {
    @apply text-[11px] xl:text-[0.8125rem] font-roboto leading-5 my-4 xl:my-6;
  }
  .section-container {
    @apply max-w-[1536px] mx-auto;
  }
  .input-class {
    @apply border-2 border-primary-yellow mt-4 lg:mt-6 w-full h-10 rounded-xl focus:outline-none pl-4 py-1 shadow-lg shadow-black/20 text-black;
  }
  .slick-opacity {
    @apply relative before:content-[''] before:w-[3rem] before:h-[24rem] before:bg-secondary-black/40 before:absolute before:z-[5] before:top-1/2 before:translate-y-[-50%] before:left-0 before:shadow-xl before:shadow-secondary-black before:rounded-r-xl after:content-[''] after:w-[2.7rem] after:h-[24rem] after:bg-secondary-black/40 after:absolute after:z-[5] after:top-1/2 after:translate-y-[-50%] after:right-0 after:shadow-xl after:shadow-secondary-black after:rounded-l-xl;
  }
}
.hero-banner {
  background: linear-gradient(
      0deg,
      rgba(31, 34, 40, 0.5),
      rgba(31, 34, 40, 0.5)
    ),
    url("./assets/img/home-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.diensten-hero-banner {
  background: linear-gradient(
      0deg,
      rgba(31, 34, 40, 0.5),
      rgba(31, 34, 40, 0.5)
    ),
    url("./assets/img/diensten-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.cta-diamond-shape {
  background-image: url("./assets/svg/cta-bar-diamond-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.cta-card-gadient {
  background: linear-gradient(143deg, #1f2228 0%, #0e1012 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* for mobile defaut blue effect disable */
* {
  -webkit-tap-highlight-color: transparent;
}
/* product card start */
.card-wrapper {
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.card-wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(255, 253, 253, 0.315);
}
.inside {
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.inside:hover {
  border-radius: 0;
}
.inside:hover .info-icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.inside .contents table {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.inside:hover .contents table {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
/* product card end */
/* Sidebar.css */
.sidebar-scroll {
  /* Custom scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: #0e1012;
}

/* Define scrollbar thumb styles */
.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px; /* Color of the thumb */
}

/* Define scrollbar track styles */
.sidebar-scroll::-webkit-scrollbar-track {
  background-color: #0e1012;
  border-radius: 100px; /* Color of the track */
}
